/* .position-relative img{
    background-color:none;
    opacity: 1;
} */
/* .position-relative button{
   visibility: hidden;
   opacity: 0;
}
.position-relative:hover button{
    visibility: visible;
    opacity: 1;
} */

html{
  scroll-behavior: smooth;
}
.img {
  background-color: black;
  opacity: 0;
  width: 60%;
  height: 100%;
  transition: width 1s;
  transition-timing-function: ease-in-out;
}
.img:hover {
  background-color: black;
  opacity: 0.5;
  width: 97%;
}

.txt {
  text-align: justify;
}

.wide {
  width: 50%;
}
.iwide{
  width: 25%;
}
.texty{
  text-align: justify;
}

@media (max-width: 914px) {
  .wide {
    width: 80%;
  }
  .iwide{
    width: 50%;
  }
}

@media (max-width: 541px) {
  .wide {
    width: 100%;
    
  }
  .iwide{
    width: 50%;
  }
}
